*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  background: #111;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  color: #00a8ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00a8ff;
}

/*heading and profile section*/
#heading{
    height: 4rem;
    line-height: 4rem;
    background-color: #081b31;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#profile-photo {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: justify;
}
#profile-photo:hover{
    border: 2px solid black;
}
.div2{
    text-align: center;
}