*{
    margin: 0;
    padding: 0;
}

#heading{
    height: 4rem;
    line-height: 4rem;
    background-color: #081b31;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#profile-photo {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
}

#name {
    margin-left: 88px;
}